{% extends 'base.html' %}
{% load static %}

{% block navActive %}
<li class="nav-item active" id="home">
	<a href="/">Home</a>
</li>
<li class="nav-item" id="about">
	<a href="#">About</a>
</li>
<li class="nav-item" id="portfolio">
	<a href="/pixi">Portfolio</a>
</li>
<li class="nav-item" id="contact">
	<a href="#">Contact</a>
</li>
{% endblock %}

{% block content %}
<div id="filter-window">
<div class="mt-5" id="filter-container">
	<div class="media d-flex align-items-center" id="fimg-box"><img src='{% static "/images/profile.jpeg" %}' alt="fImg" width="105%" id="fimg">
	</div>

	<div id="filter1"></div>
	<div id="filter2"></div>
	<div id="filter3"></div>
</div>
<div class="mt-5 text-center text-monospace" id="filter-link">
	<p class="text-muted"><a style="text-decoration: underline;" href="https://codepen.io/Rplus/pen/qBWgzvB">鬼滅の刃 Demon Slayer: Kimetsu no Yaiba</a></p>
	<p style="margin-top:-1em;">https://codepen.io/Rplus/pen/qBWgzvB</p>
</div>
</div>
{% endblock %}
