@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    font-family: 'Poppins', sans-serif;
    background: black;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

:root {
  --filter1-w: 50vmin;
  --filter2-w: 50vmin;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("/static/images/side_background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #aaaaaa;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    color: rgba(255,255,255,0.9);
}

#sidebar ul.components {
    padding: 10px 0;
}

#sidebar ul li a {
    padding: 3.6vh;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: rgba(255,255,255,0.8);
    background-color: rgba(0,0,0,0.2);
}

#sidebar ul li.active>a {
    color: rgba(255,255,255,0.9);
    background-color: rgba(0,0,0,0.6);
}

#sidebar .img-thumbnail {
    border-color: rgba(0,0,0,0.4);
    background-color: rgba(0,0,0,0.3);
}

/* ---------------------------------------------------
    SIDEBAR CONTROL BUTTON STYLE
----------------------------------------------------- */

#bt-container {
    position: fixed;
    top: 50%;
    left: 250px;
    transition: all 0.3s;
    z-index: 998;
}

#bt-container.active {
    left: 0px;
}

#sidebarCollapse {
    background: #646464;
    border-radius: 0px 5px 5px 0px;
    border-color: #aaaaaa;
    border-width: 5px 5px 5px 0px;
    padding: 20px 5px;
    opacity: 0.6;
}

#bt-container .btn-dark:hover, .btn-dark.hover {
    color: green !important;
    background: black !important;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus,
.btn:focus {
  outline: 0 !important;
  outline-offset: 0  !important;
  background-image: none  !important;
  -webkit-box-shadow: none !important;
  box-shadow: none  !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: calc(100% - 250px);
    padding: 0px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
    background: white;
}

#content.active {
    width: 100%;
}

/* ---------------------------------------------------
    FILTER STYLE
----------------------------------------------------- */
#filter-window {
    width: 100%;
}

#filter-container {
    position: absolute;
    left: 50%;
    margin-left: -40vmin;
    width: 80vmin;
    height: calc(70vmin * 5 / 6);
    overflow: hidden;
    background: white;
    box-shadow: -0.5em 1.25em 1em -.5em gray;
}

#fimg {
    transition: -webkit-transform 1s;
    transition: transform 1s;
}

#filter-container:hover #fimg {
    -webkit-transform: translateX(-5%);
            transform: translateX(-5%);
    transition-duration: 5s;
}

@-webkit-keyframes filter-move {
  50% {
    -webkit-transform: translateX(var(--p1));
            transform: translateX(var(--p1));
  }
  100% {
    -webkit-transform: translateX(var(--p2));
            transform: translateX(var(--p2));
  }
}

@keyframes filter-move {
  50% {
    -webkit-transform: translateX(var(--p1));
            transform: translateX(var(--p1));
  }
  100% {
    -webkit-transform: translateX(var(--p2));
            transform: translateX(var(--p2));
  }
}

#filter1, #filter2, #filter3 {
  position: absolute;
  top: 0;
  bottom: 0;
  -webkit-animation: .5s ease-out forwards;
          animation: .5s ease-out forwards;
  pointer-events: none;
}

#filter1 {
    left: 100%;
    width: var(--filter1-w);
    background-color: #fff;
    mix-blend-mode: exclusion;
    --p1: -110vmin;
    --p2: -46vmin;
}

#filter2 {
  width: calc(var(--filter2-w) * 2);
  left: calc(100% + var(--filter1-w));
  background-color: rgba(0,0,0,0.8);
  mix-blend-mode: saturation;
  --p1: -110vmin;
  --p2: -60vmin;
}

#filter3 {
  width: 10vmin;
  right: 100%;
  background: rgba(0,0,0,0.8);
  mix-blend-mode: saturation;
  -webkit-animation-delay: .1s;
          animation-delay: .1s;
  --p1: 0;
  --p2: 8vmin;
}

#filter-container:hover #filter1,
#filter-container:hover #filter2,
#filter-container:hover #filter3 {
  -webkit-animation-name: filter-move;
          animation-name: filter-move;
}

#filter-container .img-thumbnail {
    border: none;
    background: transparent;
}

#filter-link {
    position: absolute;
    left: 50%;
    margin-left: -40vmin;
    top: 65vmin;
    width: 80vmin;
}
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #bt-container{
        margin-left: -250px;
    }
    #bt-container.active {
        margin-left: 250px;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }
}
