/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("/static/images/side_background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #aaaaaa;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    color: rgba(255,255,255,0.9);
}

#sidebar ul.components {
    padding: 10px 0;
}

#sidebar ul li a {
    padding: 3.6vh;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: rgba(255,255,255,0.8);
    background-color: rgba(0,0,0,0.2);
}

#sidebar ul li.active>a {
    color: rgba(255,255,255,0.9);
    background-color: rgba(0,0,0,0.6);
}

.img-thumbnail {
    border-color: rgba(0,0,0,0.4);
    background-color: rgba(0,0,0,0.3);
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: calc(100% - 250px);
    padding: 0px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
    background: white;
}

#content.active {
    width: 100%;
}

#bt_container {
    position: absolute;
    top: 50%;
    z-index: 998;
}

#sidebarCollapse {
    background: #646464;
    border-radius: 0px 5px 5px 0px;
    border-color: #aaaaaa; 
    border-width: 5px 5px 5px 0px;
    padding: 20px 5px;
    opacity: 0.6;
}

.btn-dark:hover, .btn-dark.hover {
    color: green !important;
    background: black !important;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus,
.btn:focus {
  outline: 0 !important;
  outline-offset: 0  !important;
  background-image: none  !important;
  -webkit-box-shadow: none !important;
  box-shadow: none  !important;
}
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }
}